@media (min-width: 489px) and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .input-group {
        width: 52%;
        margin: 8px 0px 8px 0px;
    }

    .regiones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .filtro button {
        width: 34px;
        height: 34px;
        border-radius: 16px;
    }
    
    .filtro button img {
        width: 30px;
    }

    .card {
        width: 13.3em;
        height: 20em;
    }

    .id {
        font-size: 3.7em;
    }

    .card-body h5 {
        font-size: 1.2em;
    }

    .contenedor_tipos {
        font-size: 0.8em;
    }

    .tipo {
        width: 65px;
        height: 23px;
    }

    .estadisticas {
        font-size: 0.9em;
    }
    
    .estadisticas p {
        display: flex;
        width: 65px;
    }
    
    .boton {
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .region:hover {
        background-color: #454b50;
        color: #fcfdff;
        border-color: #6c757d;
    }

}

@media (max-width: 489px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .input-group {
        width: 80%;
    }

    .card {
        width: 80%;
        height: 10em;
        margin: 16px 0px 16px 20px;
        padding: 0;
        border: none;
        overflow: visible;
        view-timeline-name: --card;
        view-timeline-axis: block;
        animation-timeline: --card;
        animation-name: show;
        animation-range: entry 0% cover 20%;
        animation-fill-mode: both;
    }
    
    @keyframes show {
        from{
            opacity: 0%;
            scale: 25%;
        }
        to {
            opacity: 1;
            scale: 100%;
        }
    }
    
    .card:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);
    }
    
    .contenedor_img {
        position: absolute;
        width: 10em;
        height: 100%;
        left: -60px;
        border-radius: 100px;
    }
    
    .id {
        position: absolute;
        width: 100%;
        height: 20%;
        color: #fcfdff;
        font-size: 1.8em;
        left: 22px;
        top: 10px;
    }
    
    .img_pokemon {
        width: 100%;
        height: 100%;
        padding: 20px;
        top: 0;
        z-index: 1;
    }
    
    .card-body {
        position: absolute;
        width: 80%;
        height: 100%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0px;
        padding-top: 35px;
        margin-bottom: 0;
    }
    
    .card-body h5 {
        margin: 0px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #fcfdff;
        font-size: 1.7em;
    }
    
    .contenedor_tipos {
        width: 180px;
        height: 30px;
        gap: 6px;
        color: #fcfdff;
        font-size: 0.8em;
        background-color: #fcfdff;
        border-radius: 20px;
        border: 2px solid #fcfdff;
    }
    
    .tipo {
        border-radius: 20px;
        width: 80px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .estadisticas {
        display: flex;
        justify-content: space-evenly;
        width: 180px;
        color: #fcfdff;
        font-size: 1em;
    }
    
    .estadisticas p {
        width: 80px;
        color: #fcfdff;
        margin: 0;
    }
    
    .e_borde {
        border-bottom: 1px solid rgba(255, 255, 255, 0.259);
        font-weight: 600;
        font-style: normal;
        color: #30464b;
    }
    
    .boton {
        display: none;
    }

    .next {
        position: absolute;
        display: block;
        width: 48px;
        height: 48px;
        background-image: url(../assets/icon/next_pokeball.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #ffffff;
        right: -24px;
        top: 30%;
        border-radius: 32px;
        border: 4px solid #ffffff;

    }
}

@media(max-width: 443px) {
    .card-body h5 {
        font-size: 1.5em;
    }

    .contenedor_tipos {
        font-size: 0.8em;
    }

    .estadisticas {
        font-size: 0.9em;
    }

    .next {
        right: -24px;
    }
}

@media(max-width: 425px) {
    .card-body h5 {
        font-size: 1.2em;
    }

    .contenedor_tipos {
        width: 140px;
        gap: 4px;
    }
    
    .tipo {
        width: 68px;
        height: 25px;
    }
    
    .estadisticas {
        justify-content: space-evenly;
        width: 140px;
        color: #fcfdff;
    }
    
    .estadisticas p {
        width: 68px;
        margin: 0;
    }

}

@media (max-width: 320px) {

    .card-body h5 {
        font-size: 1.1em;
    }

}