@media (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .input-group {
        width: 52%;
        margin: 8px 0px 8px 0px;
    }

    .regiones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .filtro button {
        width: 34px;
        height: 34px;
        border-radius: 16px;
    }
    
    .filtro button img {
        width: 30px;
    }

    .card {
        width: 13.3em;
        height: 20em;
    }

    .id {
        font-size: 3.7em;
    }

    .card-body h5 {
        font-size: 1.2em;
    }

    .contenedor_tipos {
        font-size: 0.85em;
    }

    .tipo {
        width: 65px;
        height: 23px;
    }

    .estadisticas {
        font-size: 0.9em;
    }
    
    .estadisticas p {
        display: flex;
        width: 65px;
    }
    
    .boton {
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .region:hover {
        background-color: #454b50;
        color: #fcfdff;
        border-color: #6c757d;
    }

}

@media (max-width: 425px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .input-group {
        width: 80%;
    }
}