:root {
    --normal: linear-gradient(#A8A69F, #9099A1);
    --fighting: linear-gradient(#E2454D, #CE406A);
    --flying: linear-gradient(#A5BFEE, #90A9DE);
    --posion: linear-gradient(#C561D4, #A566C7);
    --ground: linear-gradient(#C9B787, #c7b37c);
    --rock: linear-gradient(#d3905d, #D97745);
    --bug: linear-gradient(#A7C733, #90C12D);
    --ghost: linear-gradient(#7A74D6, #5369AC);
    --steel: linear-gradient(#56AAAC, #53879C);
    --fire: linear-gradient(#FFAE4C, #FF9C54);
    --water: linear-gradient(#70C1E4, #4E91D6);
    --grass: linear-gradient(#60dd4d, #49c436);
    --electric: linear-gradient(#F4D23C, #eeca28);
    --psychic: linear-gradient(#FEA59B, #F86D74);
    --ice: linear-gradient(#91DCD7, #73CEC0);
    --dragon: linear-gradient(#0581BC, #0969C1);
    --dark: linear-gradient(#6F7583, #5A5366);
    --fairy: linear-gradient(#F4A8E4, #f38bdd);
}

.normal {
    background: var(--normal);
}

.fighting {
    background: var(--fighting);
}

.flying {
    background: var(--flying);
}

.poison {
    background: var(--posion);
}

.ground {
    background: var(--ground);
}

.rock {
    background: var(--rock);
}

.bug {
    background: var(--bug);
}

.ghost {
    background: var(--ghost);
}

.steel {
    background: var(--steel);
}

.fire {
    background: var(--fire);
}

.water {
    background: var(--water);
}

.grass {
    background: var(--grass);
}

.electric {
    background: var(--electric);
}

.psychic {
    background: var(--psychic);
}

.ice {
    background: var(--ice);
}

.dragon {
    background: var(--dragon);
}

.dark {
    background: var(--dark);
}

.fairy {
    background: var(--fairy);
}